/** @format */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #242582;
	font-size: 16px;
	line-height: 1.5;
}

p {
	color: #b9baec;
	font-size: 16px;
	margin-bottom: 0.945em;
}

nav {
	text-align: center;
	margin-bottom: 0.945em;
	border: 2px solid #6081ff;
	padding: 0.7em;
}
nav a {
	color: #f64c72;
	text-decoration: none;
	padding: 0.6em;
}

nav a:hover {
	color: #f1a6dc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #6685ff;
	color: #828024;
	color: #f1d87c;
	margin-bottom: 0.545em;
}

article p {
	text-indent: 10px;
}

.container {
	margin: 0 auto;
	width: 95%;
}

.css-article {
	border: 2px solid #6081ff;
	padding: 0.8em;
}

.author-photo {
	width: 50px;
	height: 50px;
}

.posted-by-para {
	margin-bottom: 0;
	text-indent: 0;
	font-size: 12px;
}

.date-of-post {
	text-indent: 0;
	font-size: 12px;
}

.tips-container {
	background-color: #393a8e;
	padding: 0.645em;
	width: 95%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.9em;
	border-top-right-radius: 20px;
}
